html {
  font-family: 'SF UI Display';
  background-color: #1F2129;
}

.App {
  width: 100%;
  height: 100%;
  overflow:hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Footer-link-separate {
  color: #ACACAC;
}

.install-btn {
  margin: 0 12px 12px;
}

.text-link-in-long-description {
  color: #ffffff !important;
  text-decoration: none;
}

.text-link-in-long-description:hover {
  text-decoration: underline !important;
}

.text-link-in-long-description--bold {
  font-weight: 800;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mr-5 {
  margin-right: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.px-3 {
  padding-left: 3px;
  padding-right: 3px;
}

.pr-3 {
  padding-right: 3px;
}

.pr-10 {
  padding-right: 10px;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.line-height-0 {
  line-height: 0 !important;
}

.read-more-hidden {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  overflow: hidden;
  -webkit-box-orient: vertical;
  /* WebkitLineClamp: 4, */
  /* overflow: "hidden", */
  /* WebkitBoxOrient: "vertical", */
}

.read-more-btn * {
  text-transform: initial !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
