.truncated-text {
  color: #b8b8b8;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: "SF UI Display";
  scrollbar-gutter: stable;
}

.truncated-text-content3 {
  font-size: 12px;
  line-height: 17px;
  font-weight: 500;
  font-family: 'SF UI Display';
  color: #B8B8B8;
}

.truncated-text .my-anchor-css-class {
  text-decoration: none;
}

.truncated-text .my-anchor-css-class-hidden,
.truncated-text-content3 .my-anchor-css-class-hidden {
  display: none !important;
}
